<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coldwind.easyoj.mapper.SmsVerificationCodeMapper">
    <insert id="insert" parameterType="com.coldwind.easyoj.domain.SmsVerificationCode">
        INSERT INTO sms_verification_code (phone, code, expire_time)
        VALUES (#{phone}, #{code}, #{expireTime})
    </insert>

    <select id="selectValidVerificationCode" resultType="com.coldwind.easyoj.domain.SmsVerificationCode">
        SELECT * FROM sms_verification_code
        WHERE phone = #{phone}
          AND code = #{code}
          AND expire_time > #{currentTime}
    </select>
</mapper>